body {
	background-color: #cceeff;
	font-family: cursive;
	color: #462E24;
}

p {
	padding-left: 100px;
	padding-right: 100px; /* on pourra changer selon la taille de la fenetre */
	text-align: justify;
}

h1 {
	font-size: 50px;
	color: #462E24;
}

h2 {
	padding-top: 50px;
	text-align: center;
}

#chien {
	text-align: center;
}

img {
	width: 60%;
	height: auto;
	text-align: center;
}

/*main menu*/
nav {
	font-size: 25px;
	padding: none;
	padding-left: 30px;
	margin-bottom: 75px;
	background-color: #462E24;
	border-radius: 10px;
}

nav ul {
	list-style: none;
	display: block;
	padding: 20px;
	padding-left: 30px;
}

nav ul li {
	display: inline;
	padding: 20px;
	padding-left: 25px;
	padding-right: 25px;
}

nav ul li a {
	text-decoration: none;
}

nav ul li ul {
	display: none;
	background-color: #4DBA63;
}

nav ul li ul li {
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
}

li:hover ul {
	display: block;
	position: absolute;
	border-radius: 10px;
	margin-left: 142px; /*a changer !! */
}

.acceuil {
	background-color: #976868;
	border-radius: 10px;
}

.acceuil:hover {
	color: #462E24; /*marche pas !!!! */
	background-color: #CF9B9B;
}

li a:link {
	color: #F3D69A;
}

li a:active {
	color: #F3D69A;
}

li a:visited {
	color: #F3D69A;
}

li:hover {
	background-color: #4DBA63;
	border-radius: 10px;
}
/*end main menu*/